@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0; /* Elimina el margen por defecto de todos los elementos */
    padding: 0; /* Elimina el relleno por defecto de todos los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto de los elementos */
    text-decoration: none; /* Elimina el subrayado por defecto en enlaces */
    list-style: none; /* Elimina los puntos de lista en elementos de lista */
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans globalmente */
}


main{
    width: 80%;
    margin-left: 240px;
}


/*
Sidebar
*/

header{
  
    max-width: 80%;
    height: 100px;
    padding: 20px 40px;
    background-color: #f7f7f7;
    margin-left: auto;
    border: 1px solid #000000;
  }
  
  .dashboard{ 
  border: #0056b3 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    font-size: 50px; /* Ajusta el tamaño del icono aquí */
            color: #333; /* Puedes ajustar el color si es necesario */
  
  }
  .dashboard h2{
  font-size: 20px;
  }/*
  Sidebar
  */
  
  .sidebar {
  
  
    width: 20%;
    height: 100vh;
    background-color: #f5f5f5;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right: 1px solid #A9A9A9;
    border-radius: 5px;
  }
  
  .sidebar-header {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }
  
  .sidebar-header img {
    width: 200px;
    height: 70px;
    object-fit: cover;
    max-width: 100%;
  }
  
  .sidebar-header h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #ecf0f1;
    text-align: center;
  }
  
  .nav {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  
  .nav li {
    margin: 15px 0;
    width: 100%;
  }
  
  .nav li a {
    display: flex;          /* Usamos flexbox para alinear el ícono y el texto */
    align-items: center;     /* Centrar verticalmente el contenido */
    justify-content: center; /* Alinear el texto*/
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    width: 100%;             /* Asegura que todos los enlaces ocupen el 100% del ancho */
    box-sizing: border-box;  /* Incluye el padding en el ancho total */
    padding: 10px;           /* Añade padding para dar espacio dentro de los botones */
  }
  
  .nav li a:hover {
    background-color: #313030;
    color: #f7f7f7;
    border-radius: 5px;
  }
  
  .nav i {
    margin-right: 10px;
  }
  
  /* Estilo para el contenedor del dropdown-menu */
  .dropdown {
    position: relative; /* Para que el menú desplegable se posicione en relación a este contenedor */
  }
  
  /* Inicialmente oculto y preparado para la transición */
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #e0e0e0;
    position: absolute; /* Para posicionar el menú debajo del elemento desplegable */
    top: 100%; /* Justo debajo del elemento */
    left: 0;
    min-width: 160px; /* Ancho mínimo */
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    opacity: 0; /* Oculto inicialmente */
    visibility: hidden; /* No visible */
    transform: translateY(-10px); /* Inicia ligeramente arriba */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  }
  
  /* Clase activa para mostrar el menú */
  .dropdown-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Mueve el menú a su posición original */
  }
  
  .dropdown-menu li {
    margin: 10px 0;
  }
  
  .dropdown-menu a {
    color: #000000; /* Cambiar a color de texto deseado */
    padding: 10px;
    display: block;
    text-decoration: none; /* Elimina subrayado del enlace */
  }
  
  
  .dropdown-menu a:hover {
    background-color: #A9A9A9;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .cerrar-sesion{
  
    margin-top: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  
  }
  .cerrar-sesion i{
    margin-right: 10px;
  }
  
  .cerrar-sesion a{
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
  }
  
  .cerrar-sesion:hover, .cerrar-sesion a:hover{
    color: #A9A9A9;
  }
  
  




  .administracion{
    
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genero h3{
    text-align: center;
    margin-bottom: 20px;
}




form{
    width: 100%;
}



.form-group {
    
    width: 400px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 70px 55px;

    padding: 55px 55px 30px 55px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

form label{
    display: block;/*Para subir arriba*/
    margin-bottom: 15px;

}

form input{
    width: 100%;
    margin-bottom: 15px;
}

.form-action{
  
    display: flex;
    justify-content: flex-end; /* Esto alinea el botón a la derecha */
    margin: 30px 0;
}

form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  form button:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
    transform: scale(1.05); /* Agranda el botón un poco al pasar el ratón */
  }
  
  form button:active {
    background-color: #1e7e34; /* Verde aún más oscuro cuando se hace clic */
    transform: scale(0.98); /* Reduce un poco el tamaño al hacer clic */
  }