<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Películas del género: [[${genero.nombre}]]</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

</head>
<body class="body-genero">

    <header>
        <div th:replace="fragments/navbar/navbar :: navbar"></div>
    </header>

  

    <div class="text-title-card">
        <h2>Películas del género: [[${genero.nombre}]]</h2>
    </div>
    <div class="grid-container">
       

        <div class="grid-card" th:each="pelicula : ${peliculas}">
            <a href="">
                <img th:src="@{/assets/{filename}(filename=${pelicula.rutaPortada})}" th:alt="${pelicula.titulo}" class="grid-card-img">
            </a>
           
        </div>
    </div>
    

</body>
</html>
